* {
  margin: 0;
  padding: 0;
}
body {
  color: #3DD7AD;
  background: #070022;
}
h1 {
  text-align: center;
  padding: 10vh;
}
h4 {
  padding: 20px;
}
.Collapsible {
  width: 70%;
  border: 1px solid #fff;
  margin-left: 15%;
}
.Collapsible h4 {
  background: #5D3EDE;
  position: relative;
}
.Collapsible p {
  background: #070022;
  margin: 20px;
}
.Collapsible__trigger.is-open h4:after {
  content: '\-';
  font-size: 1.6em;
  position: absolute;
  top: 12px;
  right: 10px;
}
.Collapsible__trigger.is-closed h4:after {
  content: '\+';
  font-size: 1.6em;
  position: absolute;
  top: 12px;
  right: 10px;
}
